<div>
<form method="post" action="{% url 'container_form' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Tambah Container</button>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>capacity_weight</th>
      <th>capacity_length</th>
      <th>capacity_width</th>
      <th>aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for container in containers %}
      <tr>
        <td>{{ container.name }}</td>
        <td>{{ container.capacity_weight }}</td>
        <td>{{ container.capacity_length }}</td>
        <td>{{ container.capacity_width }}</td>
        <td><a href="delete/{{ container.id }}/"><i class="fa-solid fa-trash"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'knapsack_form' %}">Back to Knapsack Form</a>
</div>